.show_fill_btn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.show_cour_btn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.show_setting_btn {
    background-color: #34db3c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.show_fill_btn:hover, .show_fill_btn:focus {
    background-color: #2980B9;
}
.show_cour_btn:hover, .show_cour_btn:focus {
    background-color: #2980B9;
}
.show_setting_btn:hover, .show_setting_btn:focus {
    background-color: #34db3c;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: left;
    display: block;
}
.right_upper_box{
    position: relative;
    float: right;
    display: block;
}


/* Dropdown Content (Hidden by Default) */
.fills-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.cours-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.settings-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.fills-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.cours-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.settings-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.fills-content div:hover {background-color: #ddd}
.cours-content div:hover {background-color: #ddd}
.settings-content div:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}